@charset "utf-8";
/* CSS Document 
@font-face
{
font-family: myFirstFont;
src:url('../fonts/AvenirLTStd-Roman.otf');
}

*/
@font-face{
font-family: myFirstFont;
src: url('../fonts/SourceHanSansCN-Normal.otf'); /* IE9+ */
}
ul,li,p,h1,h2,h3,h4,h5,h6,span,dl,dt,dd,a{padding:0; margin:0;}

.about{ width:1200px; margin:0 auto; margin-top:-180px;}
.about_l{ width:20%; float:left; border-left:1px solid #a6a6a6;}
#ab_lli{ border-left:3px solid #b89f5f; margin-left:-2px; line-height:40px;}
#ab_lli a{color:#b89f5f;}
.about_l li{ float:left; width:92%; line-height:60px; font-size:22px; padding-left:8%; font-weight:300;}
.about_l li a{color:#727171;}
.about_l li a:hover{color:#b89f5f;}
.about_l li p{ color:#b89f5f; font-size:22px;}

.about_z{ width:71%; float:right; font-weight:300;}
.about_zl{ width:100%; float:left; margin-bottom:40px; font-size:18px; color:#727171; line-height:35px;}
.about_zz{ width:100%; float:left; margin-bottom:90px;}
.about_zz .index_lzimg{float:left; width:23px; height:23px; margin:50px 3%;}
.about_zz .index_lz dl{ float:left; width:153px;}
.about_zz .index_lz dt{ width:55px; margin:0 auto; height:55px; margin-bottom:15px;}
.about_zz .index_lz dd{ font-size:15px; line-height:21px; color:#b89f5f; text-align:center;}
.about_zz .index_lz dd p{ width:71px; font-size:13px; line-height:17px; text-align:center; display:block; color:#727171; margin:0 auto; border:2px solid #727171; border-left:none; border-right:none; margin-bottom:15px;}
.about_zz #inlz1 { margin-top:0px;}
.about_zz #inlz1 dt{background:url("../images/qwe1.png") center center no-repeat; background-size:cover;}
.about_zz #inlz2 dt{background:url("../images/qwe2.png") center center no-repeat; background-size:cover;}
.about_zz #inlz3 dt{width:69px; height:69px; background:url("../images/qwe3.png") center center no-repeat; background-size:cover; margin-bottom:8px; margin-top:-8px;}
.about_zz #inlz4 dt{background:url("../images/qwe4.png") center center no-repeat; background-size:cover;}
.about_zz #inlz1:hover dt{background:url("../images/qwe11.png") center center no-repeat; background-size:cover;}
.about_zz #inlz2:hover dt{background:url("../images/qwe12.png") center center no-repeat; background-size:cover;}
.about_zz #inlz3:hover dt{background:url("../images/qwe13.png") center center no-repeat; background-size:cover;}
.about_zz #inlz4:hover dt{background:url("../images/qwe14.png") center center no-repeat; background-size:cover;}
.about_zb{ width:100%; float:left; font-size:18px; color:#727171; line-height:35px;}
.about_zb img{margin-top:50px; min-width:100%;}

.group{width:71%; float:right;}
.group dl dd p{background:url("../images/aq.jpg") 0 12px no-repeat; padding-left:11px;}
.group dl dt p{color:#b89f5f; font-weight:300;}
.group dl dt{ font-size:21px; line-height:33px; font-weight:300; margin-bottom:20px; text-indent:10px;}
.group dl dt p{font-size:15px; line-height:25px; }
.group dl dd{ line-height:25px; font-size:14px;}

.group_l{ width:100%; background:url("../images/nxb1.jpg") center 193px no-repeat; float:left;}
.group_l img{ float:left; margin-left:12%;}
.group_l dl{ float:right; width:40%; margin-top:240px;}
.group_l dl dt p{font-size:15px; line-height:25px;}
.group_l dl dd{ line-height:25px; font-size:14px;}

.group_z{width:100%; background:url("../images/nxb2.jpg") center center no-repeat; height:640px; margin-top:-110px; float:left;}
.group_zl{ float:left; width:45%;}
.group_zl img{ float:left; margin-left:12%; margin-top:21px;}
.group_zl dl{ float:right; width:90%; margin-top:40px;}
.group_zz{ float:right; width:50%;}
.group_zz img{ float:left; margin-left:20%; margin-top:190px;}
.group_zz dl{ float:right; width:90%; margin-top:40px;}

.group_b{ width:100%; background:url("../images/nxb3.jpg") center 193px no-repeat; float:left; height:540px;}
.group_bl{ float:left; width:33%; margin-right:6%}
.group_bl img{ float:left; margin-left:20%; margin-top:12px;}
.group_bl dl{ float:right; width:100%; margin-top:40px;}
.group_bz{ float:left; width:27%;}
.group_bz img{ float:left; margin-left:20%; margin-top:59px;}
.group_bz dl{ float:right; width:100%; margin-top:40px;}
.group_bb{ float:right; width:28%;}
.group_bb img{ float:left; margin-left:20%; margin-top:53px;}
.group_bb dl{ float:right; width:90%; margin-top:40px;}

.group_c{ width:100%; margin-top: 20px;  display: inline-block; text-align: center;}
.group_c div{background:url("../images/nxb4.jpg") center 158px no-repeat; text-align:center;}
.group_c dl{ float:right; width:100%; margin-top:30px; text-align:left;}
.group_cl{
    float: left;
    /* clear: both; */
    min-height: 550px;
    /*display: inline-block;*/
    width:30%;
    margin: 0 14px;
}
.group_cz{ float:left; width:30%;}
.group_cz img{ margin-top:1px;}
.group_cb{ float:right; width:25%;}
.group_cb img{ margin-top:6px;}

.honour{width:71%; float:right; font-weight:300;}
.honour > tr > td{ width:50%;}
.hon_x{ height:1px; background-color:#b89f5f;}
.hon_imgl{background:url("../images/aq1.jpg") center bottom no-repeat;}
.hon_wz{ padding-left:30px; color:#727171; font-size:18px; line-height:31px;}
.hon_imgl img{ margin-left:35%;}
.hon_sj p{ padding:0 15px; height:53px; line-height:53px; float:left; font-size:21px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:30px;}

.hon_wzz{ padding-right:30px; color:#727171; font-size:18px; line-height:31px; text-align:right;}
.hon_sjz p{ padding:0 15px; height:53px; line-height:53px; float:right; font-size:21px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:30px;}
.hon_imgz{background:url("../images/aq1.jpg") center bottom no-repeat;}
.hon_imgz img{ margin-left:35%;}
#imgz_img{ margin-top:-30px;}
.hon_xl > td{ padding-top:50px;}

.hon_imgb{background:url("../images/aq2.jpg") center bottom no-repeat; text-align:center;}
.hon_sjl p{ padding:0 15px; height:53px; line-height:53px; float:left; font-size:21px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:15px;}

.culture{width:73%; float:right;}
.cul_h{ font-size:33px; color:#b89f5f; font-weight:300; text-align:center; margin-bottom:35px;}
.cul_h p{color:#000; font-size:21px;}
#cul_hp{ color:#FFF;}
.culture_l{width:100%; float:left; margin-bottom:60px;}
.culture_l dl{ width:31%; float:left; margin:0 1%;}
.culture_l dl img{ width:100%; z-index:-1;}
.culture_l dt{ height:48px; line-height:48px; margin-top:-48px; font-size:21px; font-weight:300; text-align:center; color:#b89f5f; background-color:rgba(0, 0, 0, 0.4); z-index:10px; position:relative; border-top:1px solid #b89f5f;}
.culture_l dt span{font-size:17px; color:#FFF;}
.culture_l dd{background-color:#f5f6f6; height:50px; line-height:25px; color:#727171; padding:18px 0; font-size:17px; text-align:center;}

.culture_z{width:100%; float:left; margin-bottom:80px;}
.culture_z dl{ width:29%; float:left; margin:0 2%; background:url("../images/aqw1.jpg") right 0 no-repeat; height:144px; padding-top:10px;}
.culture_z dt{ font-size:18px; height:50px; line-height:50px; font-weight:300;}
#ure_z_dt{ margin-bottom:30px;}
.culture_z dt span{float:right; margin-right:40px;}
.culture_z dd{ font-size:15px; line-height:28px;}

.culture_b{width:100%; float:left; background:url("../images/xcdr.jpg") center 0 no-repeat; height:257px; padding-top:40px; margin-bottom:70px;}
.culture_bl{ font-size:15px; text-align:center; color:#FFF;}

.culture_c{width:100%; float:left; background:url("../images/qcvd.jpg") center 0 no-repeat; height:203px; padding-top:30px; text-align:center; margin-bottom:70px;}
.culture_c span{ font-size:27px; color:#b89f5f; padding-bottom:10px;}
.culture_c p{ font-size:21px; color:#000;}
.culture_c img{ margin:10px 0;}
#ure_cp{ font-size:21px; color:#727171;}

.culture_d{width:100%; float:left;}
.culture_d dl{ width:31%; float:left; margin:0 1%;  height:182px; padding-top:20px; margin-bottom:15px;}
.culture_d dt{ height:120px; padding:0px 0 0 10%;}
.culture_d dd{ font-size:14px; color:#b89f5f; text-align:right; padding-right:10%;}
#ure_ddl1{background:url("../images/qaz1.jpg") right 0 no-repeat;}
#ure_ddl2{background:url("../images/qaz2.jpg") right 0 no-repeat;}
#ure_ddl3{background:url("../images/qaz3.jpg") right 0 no-repeat;}
#ure_ddl4{background:url("../images/qaz4.jpg") right 0 no-repeat;}
#ure_ddl5{background:url("../images/qaz5.jpg") right 0 no-repeat;}
#ure_ddl6{background:url("../images/qaz6.jpg") right 0 no-repeat;}
#ure_ddl7{background:url("../images/qaz7.jpg") right 0 no-repeat;}
#ure_ddl8{background:url("../images/qaz8.jpg") right 0 no-repeat;}
#ure_ddl9{background:url("../images/qaz9.jpg") right 0 no-repeat;}

.society{width:73%; float:right;}
.society dl{width:100%; float:left; height:270px; margin-bottom:15px; overflow:hidden; color:#FFF;}
.society img{ z-index:-1px; width:100%;}
.society dl a{ color:#FFF;}
.society dl div{width:91%; padding:20px 5%; height:270px; z-index:10px; position:relative; background-color:rgba(0, 0, 0, 0.5); margin-top:-90px;}
.society dl:hover div{margin-top:-282px; margin-left:0%; transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;}
.society dt{font-size:20px; font-weight:300; margin-bottom:90px;}
.society dd{ width:60%; font-size:15px; height:90px; line-height:30px; overflow:hidden;}
.society dt span{width:55px; height:5px; display:block; background-color:#ac955e; margin-top:10px;}

#footj {
    width: 100%;
    float: left;
    background:#262626;
    padding: 60px 0 40px 0;
}
@media screen and (max-width: 1300px){
.about{ width:92%; overflow:hidden;} 
.about_zz .index_lzimg{float:left; width:23px; height:23px; margin:50px 2%;}
}	
@media screen and (max-width: 1270px){
	.society dl div{width:91%; padding:20px 5%; height:270px; z-index:10px; position:relative; background-color:rgba(0, 0, 0, 0.5); margin-top:-80px;}
	.society dl:hover div{margin-top:-272px; margin-left:0%;}
	.society img{ z-index:-1px; width:auto;}
}
@media screen and (max-width: 1220px){
.about{ width:92%; margin:0 auto; margin-top:-180px;}	
.about_zz .index_lzimg{float:left; width:23px; height:23px; margin:50px 1%;}
.about_zb img{margin-top:50px; width:100%;}
}
@media screen and (max-width: 1180px){

}
@media screen and (max-width: 1130px){
.about_zz .index_lzimg{ display:none;}
.about_zz .index_lz dl{ float:left; width:153px; margin:15px 11%;}
	}
@media screen and (max-width: 1044px){
.about_zl{ width:100%; float:left; margin-bottom:40px; font-size:17px; color:#727171;}
.about_zz{ width:100%; float:left; margin-bottom:40px; font-size:17px; color:#727171;}
.about_zb{ width:100%; float:left; margin-bottom:40px; font-size:17px; color:#727171;}
}

@media screen and (max-width: 980px){
.about_zz .index_lzimg{ display:none;}
}
@media screen and (max-width: 980px){
.about_zz .index_lz dl{ float:left; width:153px; margin:15px 10%;}
.group_z{width:100%; background:url("../images/nxb2.jpg") center center no-repeat; height:640px; margin-top:-110px; float:left; margin-bottom:50px;}

}
@media screen and (max-width: 940px){
.culture{width:73%; float:right;}
.cul_h{ font-size:29px; color:#b89f5f; font-weight:100; text-align:center; margin-bottom:35px;}
.cul_h p{color:#000; font-size:19px;}
#cul_hp{ color:#FFF;}
.culture_l{width:100%; float:left; margin-bottom:60px;}
.culture_l dl{ width:31%; float:left; margin:0 1%;}
.culture_l dl img{ width:100%; z-index:-1;}
.culture_l dt{ height:48px; line-height:48px; margin-top:-48px; font-size:19px; font-weight:300; text-align:center; color:#b89f5f; background-color:rgba(0, 0, 0, 0.4); z-index:10px; position:relative; border-top:1px solid #b89f5f;}
.culture_l dt span{font-size:14px; color:#FFF;}
.culture_l dd{background-color:#f5f6f6; height:50px; line-height:25px; color:#727171; padding:10px 0; font-size:14px; text-align:center;}

.culture_z{width:100%; float:left; margin-bottom:80px;}
.culture_z dl{ width:29%; float:left; margin:0 2%; background:url("../images/aqw1.jpg") right 0 no-repeat; height:144px; padding-top:10px;}
.culture_z dt{ font-size:17px; height:50px; line-height:50px; font-weight:300;}
#ure_z_dt{ margin-bottom:0px;}
.culture_z dt span{float:right; margin-right:40px;}
.culture_z dd{ font-size:14px; line-height:28px;}

.culture_b{width:100%; float:left; background:url("../images/xcdr.jpg") center 0 no-repeat; height:257px; padding-top:40px; margin-bottom:70px;}
.culture_bl{ font-size:15px; text-align:center; color:#FFF;}

.culture_c{width:100%; float:left; background:url("../images/qcvd.jpg") center 0 no-repeat; height:203px; padding-top:30px; text-align:center; margin-bottom:70px;}
.culture_c span{ font-size:29px; color:#b89f5f; padding-bottom:10px;}
.culture_c p{ font-size:19px; color:#000;}
.culture_c img{ margin:10px 0;}
#ure_cp{ font-size:19px; color:#727171;}

.culture_d{width:100%; float:left;}
.culture_d dl{ width:31%; float:left; margin:0 1%;  height:182px; padding-top:20px; margin-bottom:15px;}
.culture_d dt{ height:120px; padding:0px 0 0 10%;}
.culture_d dd{ font-size:12px; color:#b89f5f; text-align:right; padding-right:10%;}

.honour{width:71%; float:right;}
.hon_x{ height:1px; background-color:#b89f5f;}
.hon_imgl{background:url("../images/aq1.jpg") center bottom no-repeat;}
.hon_wz{ padding-left:30px; color:#727171; font-size:15px; line-height:31px;}
.hon_imgl img{ margin-left:35%;}
.hon_sj p{ padding:0 15px; height:53px; line-height:53px; float:left; font-size:17px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:30px;}

.hon_wzz{ padding-right:30px; color:#727171; font-size:15px; line-height:31px; text-align:right;}
.hon_sjz p{ padding:0 15px; height:53px; line-height:53px; float:right; font-size:17px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:30px;}
.hon_imgz{background:url("../images/aq1.jpg") center bottom no-repeat;}
.hon_imgz img{ margin-left:35%;}
#imgz_img{ margin-top:-30px;}
.hon_xl > td{ padding-top:50px;}

.hon_imgb{background:url("../images/aq2.jpg") center bottom no-repeat; text-align:center;}
.hon_sjl p{ padding:0 15px; height:53px; line-height:53px; float:left; font-size:17px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:15px;}
}
@media screen and (max-width: 830px){
.group{width:100%; float:right;}

.honour{width:100%; float:right;}
.honour > table{ width:100%;}
.hon_x{ height:1px; background-color:#b89f5f;}
.hon_imgl{background:url("../images/aq1.jpg") center bottom no-repeat;}
.hon_wz{ padding-left:30px; color:#727171; font-size:15px; line-height:31px;}
.hon_imgl img{ margin-left:35%;}
.hon_sj p{ padding:0 15px; height:53px; line-height:53px; float:left; font-size:17px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:30px;}

.hon_wzz{ padding-right:30px; color:#727171; font-size:15px; line-height:31px; text-align:right;}
.hon_sjz p{ padding:0 15px; height:53px; line-height:53px; float:right; font-size:17px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:30px;}
.hon_imgz{background:url("../images/aq1.jpg") center bottom no-repeat;}
.hon_imgz img{ margin-left:35%;}
#imgz_img{ margin-top:-30px;}
.hon_xl > td{ padding-top:50px;}

.hon_imgb{background:url("../images/aq2.jpg") center bottom no-repeat; text-align:center;}
.hon_sjl p{ padding:0 15px; height:53px; line-height:53px; float:left; font-size:17px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:15px;}

.society{width:100%; float:right; padding-top:30px;}
}

@media screen and (max-width: 800px){
.about_zz .index_lz dl{ float:left; width:153px; margin:15px 5%;}
}
@media screen and (max-width: 736px){
.about_zz .index_lz dl{ float:left; width:153px; margin:0 5%; margin-bottom:20px;}
.banner img{ width:130%;}
.about_zb img{margin-top:50px; width:150%;}
}
@media screen and (max-width: 700px){
.about_l{ width:99%; float:right; margin-bottom:25px;}
.about_l li{ float:left; width:92%; line-height:60px; font-size:17px; padding-left:8%;}
.about_l li a{color:#727171;}
.about_l li p{ color:#b89f5f; font-size:17px;}
.about_z{ width:100%; float:right; }
.about_zz .index_lz dl{ float:left; width:153px; margin:0 8%;}

.culture{width:100%; float:left;}
.culture dd br{ display:none;}
.cul_h{ font-size:29px; color:#b89f5f; font-weight:100; text-align:center; margin-bottom:35px;}
.cul_h p{color:#000; font-size:20px;}
#cul_hp{ color:#FFF;}
.culture_l{width:100%; float:left; margin-bottom:60px;}
.culture_l dl{ width:31%; float:left; margin:0 1%;}
.culture_l dl img{ width:100%; z-index:-1;}
.culture_l dt{ height:48px; line-height:48px; margin-top:-48px; font-size:19px; font-weight:300; text-align:center; color:#b89f5f; background-color:rgba(0, 0, 0, 0.4); z-index:10px; position:relative; border-top:1px solid #b89f5f;}
.culture_l dt span{font-size:14px; color:#FFF;}
.culture_l dd{background-color:#f5f6f6; height:50px; line-height:25px; color:#727171; padding:10px 0; font-size:14px; text-align:center;}

.culture_z{width:100%; float:left; margin-bottom:80px;}
.culture_z dl{ width:29%; float:left; margin:0 2%; background:url("../images/aqw1.jpg") right 0 no-repeat; height:144px; padding-top:10px;}
.culture_z dt{ font-size:17px; height:50px; line-height:50px; font-weight:300;}
#ure_z_dt{ margin-bottom:0px;}
.culture_z dt span{float:right; margin-right:5px;}
.culture_z dd{ font-size:14px; line-height:28px;}


.culture_b{width:100%; float:left; background:url("../images/xcdr.jpg") center 0 no-repeat; height:257px; padding-top:40px; margin-bottom:70px;}
.culture_bl{ font-size:15px; text-align:center; color:#FFF;}

.culture_c{width:100%; float:left; background:url("../images/qcvd.jpg") center 0 no-repeat; height:203px; padding-top:30px; text-align:center; margin-bottom:70px;}
.culture_c span{ font-size:29px; color:#b89f5f; padding-bottom:10px;}
.culture_c p{ font-size:19px; color:#000;}
.culture_c img{ margin:10px 0;}
#ure_cp{ font-size:19px; color:#727171;}

.culture_d{width:100%; float:left;}
.culture_d dl{ width:31%; float:left; margin:0 1%;  height:182px; padding-top:20px; margin-bottom:15px;}
.culture_d dt{ height:120px; padding:0px 0 0 10%;}
.culture_d dd{ font-size:12px; color:#b89f5f; text-align:right; padding-right:10%;}
}
@media screen and (max-width: 630px){

.group dl dd p{background:url("../images/aq.jpg") 0 12px no-repeat; padding-left:11px;}
.group dl dt p{color:#b89f5f; font-weight:300;}
.group dl dt{ font-size:17px; line-height:33px; font-weight:300; margin-bottom:20px; text-indent:10px;}
.group dl dt p{font-size:15px; line-height:25px; }
.group dl dd{ line-height:25px; font-size:14px;}

.group_l{ width:100%; background:url("../images/nxb4.jpg") center 288px no-repeat; float:left;}
.group_l img{ clear:both; padding-left:50%; margin-left:-97px;}
.group_l dl{ float:right; width:90%; margin-top:40px; text-align:left;}
.group_l dl dt p{font-size:15px; line-height:25px; }
.group_l dl dd{ line-height:25px; font-size:14px;}

.group_z{width:100%; background: none; height:auto; margin-top:0px; float:left;}
.group_zl{ float:left; width:100%; background:url("../images/nxb4.jpg") center 273px no-repeat; margin-bottom:40px;}
.group_zl img{ clear:both; padding-left:50%; margin-left:-96px;}
.group_zl dl{ float:right; width:90%; margin-top:40px;}
.group_zz{ float:left; width:100%; background:url("../images/nxb4.jpg") center 192px no-repeat;}
.group_zz img{clear:both; padding-left:50%; margin-left:-86px; margin-top:0px;}
.group_zz dl{ float:right; width:90%; margin-top:40px;}

.group_b{ width:100%; background: none; float:left; height:auto;}
.group_bl{ float:left; width:100%; margin-right:0%; background:url("../images/nxb4.jpg") center 196px no-repeat; margin-bottom:40px;}
.group_bl img{clear:both; padding-left:50%; margin-left:-60px;}
.group_bl dl{ float:right; width:90%; margin-top:40px;}
.group_bz{ float:left; width:100%; margin-right:0%; background:url("../images/nxb4.jpg") center 185px no-repeat; margin-bottom:40px;}
.group_bz img{ clear:both; padding-left:50%; margin-left:-55px; margin-top:0px;}
.group_bz dl{ float:right; width:90%; margin-top:40px;}
.group_bb{ float:right; width:100%; margin-right:0%; background:url("../images/nxb4.jpg") center 172px no-repeat; margin-bottom:40px;}
.group_bb img{ clear:both; padding-left:50%; margin-left:-53px; margin-top:0px;}
.group_bb dl{ float:right; width:90%; margin-top:40px;}

.group_c{ width:100%; float:left;}
.group_c div{background:url("../images/nxb4.jpg") center 158px no-repeat;text-align:center;margin: 0;margin-bottom:40px;}
.group_c dl{ float:right; width:90%; margin-top:30px; text-align:left;}
.group_cl{ float:left; width:100%; margin-right:0%; min-height: auto;}
.group_cz{ float:left; width:100%;}
.group_cz img{ margin-top:1px;}
.group_cb{ float:right; width:100%;}
.group_cb img{ margin-top:6px;}
}
@media screen and (max-width: 590px){
.honour{width:100%; float:right;}
.honour > table{ width:100%;}
.hon_imgl{ width:100%;}
.hon_imgz{ width:100%;}
.hon_imgb{ width:100%;}
.hon_x{ height:1px; background-color:#b89f5f;}
.hon_imgl{background:url("../images/aq1.jpg") center bottom no-repeat;}
.hon_wz{ padding-left:30px; color:#727171; font-size:15px; line-height:31px; display:none;}
.hon_imgl img{ margin-left:35%;}
.hon_sj p{ padding:0 15px; height:53px; line-height:53px; float:left; font-size:17px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:30px;}

.hon_wzz{ padding-right:30px; color:#727171; font-size:15px; line-height:31px; text-align:right; display:none;}
.hon_sjz p{ padding:0 15px; height:53px; line-height:53px; float:right; font-size:18px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:30px;}
.hon_imgz{background:url("../images/aq1.jpg") center bottom no-repeat;}
.hon_imgz img{ margin-left:35%;}
#imgz_img{ margin-top:20px;}
.hon_xl > td{ padding-top:50px;}

.hon_imgb{background:url("../images/aq2.jpg") center bottom no-repeat; text-align:center;}
.hon_sjl p{ padding:0 15px; height:53px; line-height:53px; float:left; font-size:17px; font-family:Avenir; font-weight:100; text-align:center; color:#b89f5f; border:1px solid #b89f5f; margin-bottom:18px; margin-top:15px;}

.society dl{width:100%; float:left; height:270px; margin-bottom:15px; overflow:hidden; color:#FFF;}
.society img{ z-index:-1px; width:auto;}
.society dl a{ color:#FFF;}
.society dl div{width:90%; padding:30px 5%; height:270px; z-index:10px; position:relative; background-color:rgba(0, 0, 0, 0.5); margin-top:-82px;}
.society dl:hover div{margin-top:-282px; margin-left:0%; transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;}
.society dt{font-size:17px; font-weight:200; margin-bottom:34px;}
.society dd{ width:100%; font-size:14px; height:90px; line-height:30px;}
.society dd span{width:42px; height:5px; display:block; background-color:#ac955e; margin-bottom:10px;}
}
@media screen and (max-width: 500px){
.banner img{ width:200%;}
.about_zz .index_lz dl{ float:left; width:153px; margin:0 4%;}	
.about_zl{ width:100%; float:left; margin-bottom:40px; font-size:14px; color:#727171;}
.about_zz{ width:100%; float:left; margin-bottom:40px; font-size:14px; color:#727171;}
.about_zb{ width:100%; float:left; margin-bottom:40px; font-size:14px; color:#727171;}
.culture_bl{ width:90%; margin:5%; font-size:14px;}
.culture_bl br{ display:none;}

.society dl{width:100%; float:left; height:auto; margin-bottom:15px; overflow-x:hidden; overflow-y:auto; color:#FFF;}
.society img{ z-index:-1px; width:auto;}
.society dl a{ color:#FFF;}
.society dl div{width:90%; padding:30px 5%; height:200px; margin-left:0%; z-index:10px; position:relative; background-color:rgba(0, 0, 0, 0.5); margin-top:0;}
.society dl:hover div{margin-top:0px; margin-left:0%;}
.society dt{font-size:17px; font-weight:200; height:30px; margin-bottom:34px;}
.society dd{ width:100%; font-size:14px; height:auto; line-height:30px;}
.society dd span{width:42px; height:5px; display:block; background-color:#ac955e; margin-bottom:10px;}
}
@media screen and (max-width: 415px){
.banner img{ width:200%;}
.about_zz .index_lz dl{ float:left; width:153px; margin:0 2%;}	

}
@media screen and (max-width: 390px){
.culture_l{width:100%; float:left; margin-bottom:60px;}
.culture_l dl{ width:98%; float:left; margin:0 1%;}
.culture_l dl img{ width:100%; z-index:-1;}
.culture_l dt{ height:48px; line-height:48px; margin-top:-48px; font-size:19px; font-weight:300; text-align:center; color:#b89f5f; background-color:rgba(0, 0, 0, 0.4); z-index:10px; position:relative; border-top:1px solid #b89f5f;}
.culture_l dt span{font-size:14px; color:#FFF;}
.culture_l dd{background-color:#f5f6f6; height:50px; line-height:25px; color:#727171; padding:10px 0; font-size:14px; text-align:center;}

.culture_z{width:100%; float:left; margin-bottom:80px;}
.culture_z dl{ width:98%; float:left; margin:0 1%; background:url("../images/aqw_1.jpg") right 0 no-repeat; height:144px; padding-top:10px;}
.culture_z dt{ font-size:17px; height:50px; line-height:50px; font-weight:300;}
#ure_z_dt{ margin-bottom:0px;}
.culture_z dt span{float:right; margin-right:10px;}
.culture_z dd{ font-size:14px; line-height:28px; padding-left:2%;}


.culture_b{width:100%; float:left; background:url("../images/xcdr.jpg") center 0 no-repeat; height:257px; padding-top:40px; margin-bottom:70px;}
.culture_bl{ font-size:15px; text-align:center; color:#FFF;}

.culture_c{width:100%; float:left; background:url("../images/qcvd.jpg") center 0 no-repeat; height:203px; padding-top:30px; text-align:center; margin-bottom:70px;}
.culture_c span{ font-size:17px; color:#b89f5f; padding-bottom:10px;}
.culture_c p{font-size:15px; color:#000;}
.culture_c img{ margin:10px 0;}
#ure_cp{ font-size:15px; color:#727171;}

.culture_d{width:100%; float:left;}
.culture_d dl{ width:98%; float:left; margin:0 1%;  height:182px; padding-top:20px; margin-bottom:15px;}
.culture_d dt{ height:120px; padding:0px 0 0 10%;}
.culture_d dd{ font-size:12px; color:#b89f5f; text-align:right; padding-right:10%;}

.group_l dl{ float:right; width:98%; margin-top:20px; text-align:left;}

.group_zl dl{ float:right; width:98%; margin-top:20px;}

.group_zz dl{ float:right; width:98%; margin-top:20px;}

.group_bl dl{ float:right; width:98%; margin-top:20px;}

.group_bz dl{ float:right; width:98%; margin-top:20px;}

.group_bb dl{ float:right; width:98%; margin-top:20px;}

.group_c dl{ float:right; width:98%; margin-top:20px; text-align:left;}

}
@media screen and (max-width: 387px){
.about_zz .index_lz dl{ float:left; width:153px; margin:0 0%;}
.about > center img{ width:100%;}
}













