@charset "utf-8";
/*------------------------------------------------------
bubble shell
/*------------------------------------------------------*/
.bubbleInfo0 {
    position: relative;
}
.bubbleInfo1_2 {
    position: relative;
}
.bubbleInfo2_2 {
    position: relative;
}
.bubbleInfo3_1 {
    position: relative;
}
.bubbleInfo3_3 {
    position: relative;
}
.bubbleInfo3_4 {
    position: relative;
}
.bubbleInfo1_1s{
    position: relative;
}
.bubbleInfo1_2s{
    position: relative;
}



/*------------------------------------------------------
popup
/*------------------------------------------------------*/
.popup{
	border: none;
	border-spacing:0;
	border-collapse:collapse;
	position:absolute;
	display: none;
	z-index: 50;
}
.popup td, .popuptb th{
    padding: 0;
}
.popup .td1{
	width: 11px;
	height: 5px;
	background: url(images/demo/popup/popup_bg1.png) 0 0 no-repeat;
}
.popup .td2{
	/*width: 11px;*/
	height: 5px;
	background: url(images/demo/popup/popup_bg2.png) 0 0 repeat-x;
}
.popup .td3{
	width: 12px;
	height: 5px;
	background: url(images/demo/popup/popup_bg3.png) 0 0 no-repeat;
}
.popup .td4{
	width: 11px;
	/*height: 63px;*/
	background: url(images/demo/popup/popup_bg4.png) 0 50% no-repeat;
}
.popup .td4a{
	width: 11px;
	/*height: 63px;*/
	background: url(images/demo/popup/popup_bg4.png) 0 0 no-repeat;
}
.popup .td4b{
	width: 11px;
	/*height: 63px;*/
	background: url(images/demo/popup/popup_bg4.png) 0 -30px no-repeat;
}
.popup .td4L{
	width: 11px;
	/*height: 63px;*/
	background: url(images/demo/popup/popup_bg4L.png) 0 0 repeat-y;
}
.popup .td5{
	padding: 5px;
	/*width: 11px;*/
	/*height: 63px;*/
	background: #fff3db;
}
.popup .td6{
	width: 12px;
	/*height: 63px;*/
	background: url(images/demo/popup/popup_bg6.png) 0 0 repeat-y;
}
.popup .td6L{
	width: 12px;
	/*height: 63px;*/
	background: url(images/demo/popup/popup_bg6L.png) 0 50% no-repeat;
}
.popup .td7{
	width: 11px;
	height: 6px;
	background: url(images/demo/popup/popup_bg7.png) bottom left no-repeat;
}
.popup .td8{
	/*width: 11px;*/
	height: 6px;
	background: url(images/demo/popup/popup_bg8.png) bottom left repeat-x;
}
.popup .td9{
	width: 12px;
	height: 6px;
	background: url(images/demo/popup/popup_bg9.png) bottom left no-repeat;
}
.popupcell{
	margin: 0;
	padding: 6px 7px 0 7px;
	/*width: 45px;*/
	height: 43px;
	text-align: center;
	float: left;
}
.popupcell h1{
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
}
.popupcell h2{
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
}
.popupcell h3{
	margin: 0;
	margin-top: 8px;
	padding: 0;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
}
.popupcell h4{
	margin: 0;
	margin-top: 2px;
	padding: 0;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
}
.popupcell a{
	text-decoration: none;
}
.popupcell a:hover{
	color: #a66d00;
	text-decoration: none;
}
.popupcellB{
	margin: 0;
	padding: 2px 7px 2px 7px;
	height: 27px;
	font-size: 16px;
	line-height: 16px;
	/*text-align: center;*/
	/*text-align: left;*/
}
.popupcellB .txt{
	padding: 5px 0 5px 0;
}
.popupcellB a{
	text-decoration: none;
}
.popupcellB a:hover{
	color: #a66d00;
	text-decoration: none;
}
.popupcellin{
	border-right: #724000 1px solid;
}
.colorblue a{
	color: #001692;
}