@charset "utf-8";
/* CSS Document 
@font-face
{
font-family: myFirstFont;
src:url('../fonts/AvenirLTStd-Roman.otf');
}
*/
@font-face{
font-family: myFirstFont;
src: url('../fonts/SourceHanSansCN-Normal.otf'); /* IE9+ */
}
body{margin:0 auto; width:100%; font-size:12px; padding:0; color:#585858; width:100%; overflow-y:auto; overflow-x:hidden; font-family:myFirstFont,微软雅黑,Avenir,Arial;
}
ul,li,p,h1,h2,h3,h4,h5,h6,span,dl,dt,dd,a{padding:0; margin:0;}
li{ list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
img{ border:none;}
.c{ clear:both; padding:0;}

.head{ width:1460px; margin:0 auto; height:205px; position:relative; z-index:999; margin-top:50px;}
.logo{ width:16%; float:left;}
.logo img{ width:100%;}

.banner{z-index:-1px; width:100%; overflow:hidden; position:relative; top:-255px; left:0; margin-bottom:0; padding:0;}
.banner img{ width:100%;}
.bx-wrapper .bannz{
    display:none;
}
.bannz{
    display:none;
}
.m-navbar-toggle{ display:none;}
.index{ width:100%; float:left; margin-top:-255px;}
.index_l{ width:1240px; margin:0 auto; margin-top:100px;}
.index_lm{ display:none;}
.inhl{ text-align:center; font-size:45px; line-height:55px; font-weight:600; color:#b89f5f; margin-bottom:28px;}
.inhl a{color:#b89f5f;}
.inhl p{font-size:29px; color:#010101; font-weight:400; margin-bottom:15px;}
.inhl span{ width:42px; height:5px; display:block; margin:0 auto; background-color:#b89f5f;}
.index_ll{float:left; width:100%; text-align:center; margin-bottom:90px;}
.index_lll{ font-size:20px; line-height:36px; color:#757575; margin-bottom:20px;}
.index_llz{ font-size:17px; line-height:27px; color:#b89f5f; word-wrap:break-word;}
.index_lz{float:left; width:100%; padding:0; margin:0;}
.index_lzimg{float:left; margin:50px 7%;}
.index_lz dl{ float:left; width:153px;}
.index_lz dt{ width:100%; height:99px; margin-bottom:15px;}
.index_lz dd{ font-size:15px; line-height:21px; color:#b89f5f; text-align:center;}
.index_lz dd p{ width:81px; font-size:19px; text-align:center; display:block; color:#727171; margin:0 auto; border:2px solid #727171; border-left:none; border-right:none; margin-bottom:15px;}
.index_lz #indp{ width:91px;}
#inlz1 { margin-top:0px;}
#inlz1 dt{background:url("../images/qwe1.png") center center no-repeat;}
#inlz2 dt{background:url("../images/qwe2.png") center center no-repeat;}
#inlz3 dt{background:url("../images/qwe3.png") center center no-repeat;}
#inlz4 dt{background:url("../images/qwe4.png") center center no-repeat;}
#inlz1:hover dt{background:url("../images/qwe11.png") center center no-repeat;}
#inlz2:hover dt{background:url("../images/qwe12.png") center center no-repeat;}
#inlz3:hover dt{background:url("../images/qwe13.png") center center no-repeat;}
#inlz4:hover dt{background:url("../images/qwe14.png") center center no-repeat;}

.index_z{width:100%; margin:0 auto; height:543px; background:url("../images/in_4.jpg") center 0 no-repeat; margin-top:100px; padding-top:200px;}
#inh2 p{color:#fff; padding-bottom:10px;}
.index_zl{float:left; width:100%; text-align:center; margin-bottom:130px;}
.index_zll{ font-size:20px; line-height:36px; color:#fff; margin-bottom:17px;}
.index_zlz{ font-size:17px; line-height:27px; color:#b89f5f;}
.index_zz{ width:1460px; height:100px; border-top:2px solid #9b8755; position:relative; bottom:0; margin:0 auto; background: rgba(0, 0, 0, .3);}
.index_zz li{ width:59px; height:59px; margin:0 14%; float:left; text-align:center; padding:20px 0; background-color:;}
.{ width:96%; margin-left:2%; margin-top:2%;}
.index_zb{ width:1460px; margin:0 auto; margin-top:29px;}
.index_zb dl{ width:31.333%; height:376px; float:left; margin:0 1%; overflow:hidden;}
.index_zb dl img{ float:left; width:100%; height:376px; z-index:-1;}
.index_zb dl .asb{ float:left; width:80%; height:376px; padding:10%; background: rgba(0, 0, 0, .6); z-index:10; }
.index_zb dl:hover .asb{margin-top:-386px; webkit-transition: all .9s; -o-transition: all .9s; transition: all .9s;}
.index_zb dl:hover img{ float:left; width:106%; height:386px; z-index:-1; margin-top:-5px; margin-left:-3%; webkit-transition: all .9s; -o-transition: all .9s; transition: all .9s;}
.index_zb dl dt{ font-size:30px; line-height:35px; margin-bottom:110px; font-weight:300;}
.index_zb dl dt a{ color:#FFF;}
.index_zb dl dt p{ color:#b89f5f; font-size:14px;}
.index_zb dl dd{ color:#FFF; font-size:15px; line-height:28px; font-weight:200;}
.index_zb dl dd span{width:42px; height:5px; display:block; background-color:#b89f5f; margin-bottom:10px;}
.index_zb dl dd a{color:#FFF; font-size:14px; color:#b89f5f;}

.index_b{width:100%; margin:0 auto; background:url("../images/in_5.jpg") center 0 no-repeat; margin-top:110px; margin-bottom:0; padding-top:90px; padding-bottom:60px; display:block;}
#inh3 p{color:#000; padding-bottom:10px;}
.index_bl{width:1460px; margin:0 auto; text-align:center; margin-bottom:80px;}
.index_bll{ font-size:20px; line-height:36px; color:#727171; margin-bottom:17px;}
.index_blz{ font-size:17px; line-height:27px; color:#b89f5f;}
#main {width:1460px; display:block;
  margin: 30px auto;
  padding:0;
  position: relative;
  height:1000px;
}
.progress-bar {
  background-color: #0BC20B;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}

.example-tiles {
  position: relative;/** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}
#nul2{display:none;}

.example-tiles li {
  display: block;
  float:left;
  width: 31%;
  opacity: 1;
  list-style-type: none;
  float: left;
  margin:0; padding:0;
  margin-bottom:25px;
  overflow:hidden;
  background-color:#FFF;
  border-bottom:2px solid #adadad;
}
.example-tiles li:hover{background-color:#eee;}
.example-tiles li:nth-child(1n){ height:600px;}
.example-tiles li:nth-child(2n){ height:660px;}
.example-tiles li:nth-child(3n){ height:650px;}
.example-tiles li:nth-child(4n){ height:670px;}
.example-tiles li:nth-child(5n){ height:650px;}
.example-tiles li:nth-child(6n){ height:660px;}

.example-tiles li dl{width: 100%; float:left; overflow:hidden;}
.example-tiles li dl:hover{}
.example-tiles li dl img{ width:100%;}
.example-tiles li dt{ font-size:23px; line-height:30px; margin:40px 40px 30px 40px; font-weight:normal;}
.example-tiles li dt a{ color:#000;}
.example-tiles li dt p{ color:#aeaeaf; font-size:15px; font-weight:normal;}
.example-tiles li dd{ font-size:15px; line-height:30px; color:#727171; margin:0 40px; font-weight:lighter;}
.example-tiles li dd p{width:100%; padding-bottom:90px;}
.example-tiles li dd a{ float:right; font-size:14px; color:#b89f5f; font-weight:inherit; margin-bottom:30px;}

.index_c{width:100%; margin:0 auto; overflow:auto; background:url("../images/in_6.jpg") center 0 no-repeat; padding-top:210px; margin-top:-25px;}
#inh4 p{color:#fff; padding-bottom:10px;}
.index_cl{width:1460px; margin:0 auto; text-align:center; margin-bottom:200px;}
.index_cll{ font-size:20px; line-height:36px; color:#fff; margin-bottom:17px; font-weight:normal;}
.index_clz{ font-size:17px; line-height:27px; color:#b89f5f;}

.footj{ width:100%; float:left; background-color:#231f20; padding:60px 0 40px 0;}
.foot{ width:1460px; margin:0 auto; font-size:15px; font-weight:lighter; color:#FFF;}
.foot_l{width:27%; float:left; margin-right:7%;}
.foot_ll{width:100%; float:left; margin-bottom:24px;}
.foot_ll img{ float:left;}
.foot_lz{width:100%; float:left; line-height:30px;}
.foot_lz p img{ margin-right:8px;}
.foot_z{width:46%; float:left;}
.foot_z ul{ padding:0;}
.foot_z li{ width:25%; line-height:33px; float:left; text-align:left;}
.foot_z li a{ color:#FFF;}
.foot_z p{ float:left; width:100%; margin-top:15px;}
.foot_z p a{ color:#b89f5f;}
.foot_b{ float:right; width:15%; margin-top:42px;}
.foot_b li{ width:33%; line-height:33px; float:left; text-align:left;}
.foot_b li a{ color:#FFF;}
.foot_b li span{ position:absolute; margin-left:-103px; margin-top:-102px; display:none;}
.foot_b li:hover{ cursor:pointer;}
.foot_b li:hover span{display:block;}

.news_n{ width:71%; float:right;}
.news_nh{ width:100%; font-size:23px; line-height:35px; margin-bottom:50px;}
.news_nh p{ color:#b89f5f; font-size:15px; height:30px; line-height:30px;}
.news_nl{width:100%; font-size:16px; line-height:35px; color:#727171;}
/*.news_nl img{ width:100%;}*/

.login{ width:575px; margin:0 auto; margin-top:-130px; }
.logh{ width:100%; float:left; margin-bottom:60px;}
.logh li{ float:left; width:50%; line-height:35px; text-align:center; font-size:25px;}
.logh li a{ color:#727171;}
.logh li a:hover{ color:#b89f5f;}
.logh li span{ float:right; width:2px; height:35px; background:#b89f5f}
#active a{color:#b89f5f;}
.form-group{float:left; width:100%; margin-bottom:30px;}
.logl label {
	float:left;
	width:20%;
    font-size:22px;
    color: #727171;
}
.logl input{
	float:right;
	width:79%;
	height:40px;
	border:1px solid #bdbdbd;font-size:18px;
	line-height:40px;
	color:#727171;font-family:黑体; text-indent:15px;
}
.form-group-1{ width:66%; float:left;}
.form-group-1 label {
	float:left;
	width:30%;
    font-size:22px;
    color: #727171;
}
.form-group-1 input{
	float:right;
	width:68%;
	height:40px;
	border:1px solid #bdbdbd;
	font-size:18px;
	line-height:40px;
	color:#727171;font-family:黑体; text-indent:15px;
}
.form-group-2{ width:31%; float:right}
.form-group-2 button{ width:100%; height:43px; border:1px solid #4f4f4f; font-size:18px; color:#fff; background-color:#4f4f4f; font-family:黑体;}
.form-groupxy{float:left; width:100%; margin-bottom:30px; color:#cec2a7; font-size:19px}
#pact{float:left; width:23px; height:23px; border:0px solid #cec2a7; color:#cec2a7; margin-right:15px;}
.form-groupxy .xy{ color:#cec2a7; font-size:19px}
.form-groupxy .xyl{ color:#cec2a7; font-size:22px; float:right; margin-right:15px;}
#submit{ width:100%; height:43px; border:1px solid #a89156; font-size:18px; color:#fff; background-color:#a89156; font-family:黑体; margin-bottom:100px;}
.form-group button:hover{ cursor:pointer;}
#l_name{width:100%; background:url("../images/zswl.jpg") 15px center no-repeat; text-indent:50px;}
#l_password{width:100%; background:url("../images/zswz.jpg") 15px center no-repeat; text-indent:50px;}

.contact{width:73%; float:right; font-size:22px; line-height:40px; color:#727171; margin-bottom:150px;}
.contact img{ margin-bottom:50px;}
.contact table img{ margin-bottom:10px;}


@media screen and (max-width: 1490px){
.head{ width:92%; margin-right:4%;}
.m-navbar-nav {
    margin-top: -8px;
    margin-right: 0px;
}
.uk-dropdown {text-align:left; background-color:#F00;}
.index_l{ width:92%; margin:0 auto; margin-top:100px;}
.index_zb{ width:92%;}

#main {width:92%}

}
@media screen and (max-width: 1460px){
.index_zz{ width:100%; height:100px; border-top:2px solid #9b8755; position:relative; bottom:0; margin:0 auto; background: rgba(0, 0, 0, .3);}
.index_zb{margin:0 auto; margin-top:29px;}
.index_zb dl{ width:31.33%; height:302px; float:left; margin:0 1%; overflow:hidden;}
.index_zb dl img{float:left; width:100%; height: auto; z-index:1;}
.index_zb dl .asb{ float:left; width:80%; height:302px; padding:30px 10%; background: rgba(0, 0, 0, .6); z-index:10; }
.index_zb dl:hover .asb{margin-top:-345px;}
.index_zb dl:hover img{ float:left; width:102%; height:auto; z-index:-1; margin-top:-5px; margin-left:-1%; webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.index_zb dl dt{ font-size:25px; line-height:35px; margin-top:10px; margin-bottom:40px;}
.index_zb dl dt a{ color:#FFF;}
.index_zb dl dt p{ color:#b89f5f; font-size:14px;}
.index_zb dl dd{ color:#FFF; font-size:15px; line-height:28px;}
.index_zb dl dd span{width:42px; height:5px; display:block; background-color:#b89f5f; margin-bottom:10px;}
.index_zb dl dd p a{color:#FFF; font-size:14px; color:#b89f5f;}

.index_bl{width:92%; margin:0 auto; text-align:center; margin-bottom:80px;}

.index_cl{width:100%; margin:0 auto; text-align:center; margin-bottom:200px;}

.foot{ width:92%; margin:0 auto; font-size:15px; font-weight:lighter; color:#FFF;}
.foot_l{width:34%; float:left; margin-right:0%;}
}
@media screen and (max-width: 1390px){
.index_lzimg{float:left; margin:50px 5%;}
.index_zb dl:hover .asb{margin-top:-345px;}	
}
@media screen and (max-width: 1330px){
.index_zb dl{ width:31.33%; height:276px; float:left; margin:0 1%; overflow:hidden;}
.index_zb dl .asb{ float:left; width:80%; height:276px; padding:30px 10%; background: rgba(0, 0, 0, .6); z-index:10; }
.index_zb dl:hover .asb{margin-top:-300px; webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.index_zb dl dt{ font-size:20px; line-height:35px; margin-bottom:30px;}
}
@media screen and (max-width: 1240px){
.head{margin-top:30px;}
.index_l{ margin:0 auto; margin-top:100px;}
.index_lzimg{float:left; margin:50px 4%;}

.index_zb dl{ width:31.33%; height:276px; float:left; margin:0 1%; overflow:hidden;}
.index_zb dl .asb{ float:left; width:80%; height:276px; padding:30px 10%; background: rgba(0, 0, 0, .6); z-index:10; }
.index_zb dl:hover .asb{margin-top:-300px; webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.index_zb dl dt{ font-size:26px; line-height:35px; margin-bottom:30px;}

.foot_l{width:43%; float:left; margin-right:0%;}
.foot_ll{width:100%; float:left; margin-bottom:24px;}
.foot_ll img{ float:left;}
.foot_lz{width:100%; float:left; line-height:30px;}
.foot_lz p img{ margin-right:8px;}
.foot_z{width:42%; float:left; margin-right:0%;}
.foot_z ul{ padding:0;}
.foot_z li{ width:25%; line-height:33px; float:left; text-align:left;}
.foot_z li a{ color:#FFF;}
.foot_z p{ float:left; width:100%; margin-top:15px;}
.foot_z p a{ color:#b89f5f;}
.foot_b{ float:right; width:15%; margin-top:42px; margin-right:0%;}
.foot_b ul{ padding:0; margin:0;}
.foot_b li{ width:33%; line-height:33px; float:left; text-align:left;}
.foot_b li a{ color:#FFF;}
.foot_b li span{ position:absolute; margin-left:-40px; margin-top:-102px; display:none;}
.foot_b li:hover{ cursor:pointer;}
.foot_b li:hover span{display:block;}

}
@media screen and (max-width: 1205px){
.index_zb dl{ width:31.33%; height:250px; float:left; margin:0 1%; overflow:hidden;}
.index_zb dl .asb{ float:left; width:84%; height:250px; padding:20px 8%; background: rgba(0, 0, 0, .6); z-index:10;}
.index_zb dl:hover .asb{margin-top:-275px; webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.index_zb dl dt{ font-size:24px; line-height:35px; margin-bottom:15px;}
}
@media screen and (max-width: 1153px){
.index_zz li{ width:59px; height:59px; margin:0 13%; float:left; text-align:center; padding:20px 0; background-color:;}
}

@media screen and (max-width: 1120px){

.index_zb dl:hover .asb{margin-top:-260px;}	
.index_zz li{ width:33%; margin:0 0; float:left; text-align:center; padding:20px 0;}
}
@media screen and (max-width: 1090px){
.index_zb dl{ width:31.33%; height:230px; float:left; margin:0 1%; overflow:hidden;}
.index_zb dl .asb{ float:left; width:84%; height:230px; padding:15px 8%; background: rgba(0, 0, 0, .6); z-index:10;}
.index_zb dl dt{ font-size:18px; line-height:30px; margin-bottom:10px;}
.index_zb dl:hover .asb{margin-top:-250px;}
}

@media screen and (max-width: 1055px){
.index_zb dl:hover .asb{margin-top:-245px;}	
.index_lzimg{float:left; margin:50px 2%;}	
}
@media screen and (max-width: 1007px){
.index_zb dl{ width:31.33%; height:200px; float:left; margin:0 1%; overflow:hidden;}
.index_zb dl .asb{ float:left; width:80%; height:200px; padding:20px 10%; background: rgba(0, 0, 0, .6); z-index:10; }
.index_zb dl:hover .asb{margin-top:-230px; webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.index_zb dl dt{ font-size:19px; line-height:30px; margin-bottom:5px;}
.index_zb dl dt a{ color:#FFF;}
.index_zb dl dt p{ color:#b89f5f; font-size:14px;}
.index_zb dl dd{ color:#FFF; font-size:14px; line-height:24px;}
.index_zb dl dd span{width:42px; height:5px; display:block; background-color:#b89f5f; margin-bottom:10px;}
.index_zb dl dd p { height:72px; overflow:hidden;}
.index_zb dl dd p a{color:#FFF; font-size:13px; color:#b89f5f;}
}
@media screen and (max-width: 960px){
.Menubox{display:none;}
	.m-navbar-toggle{ display:block;}
.bx-wrapper .bannl{
    display:none;
}
.bx-wrapper .bannz{
    display:block;
}
.bannl{
    display:none;
}
.bannz{
    display:block;
}
.index_ll{float:left; width:100%; text-align:center; margin-bottom:90px;}
.index_lll{ font-size:19px; line-height:36px; color:#757575; margin-bottom:20px;}
.index_llz{ font-size:15px; line-height:27px; color:#b89f5f;}

.index_zl{float:left; width:92%; margin-left:4%; text-align:center; margin-bottom:130px;}
.index_zll{ font-size:19px; line-height:36px; color:#fff; margin-bottom:17px;}
.index_zlz{ font-size:15px; line-height:27px; color:#b89f5f;}

.index_bl{width:92%; margin:0 auto; text-align:center; margin-bottom:80px;}
.index_bll{ font-size:19px; line-height:36px; color:#727171; margin-bottom:17px;}
.index_blz{ font-size:15px; line-height:27px; color:#b89f5f;}

.index_cl{width:92%; margin:0 auto; text-align:center; margin-bottom:200px;}
.index_cll{ font-size:19px; line-height:36px; color:#fff; margin-bottom:17px; font-weight:normal;}
.index_clz{ font-size:15px; line-height:27px; color:#b89f5f;}

.index_zb dl{ width:31.33%; height:auto; float:left; margin:0 1%; overflow:hidden;}
.index_zb dl .asb{ float:left; width:80%; height:200px; padding:20px 10%; background: rgba(0, 0, 0, .6); z-index:10; }
.index_zb dl:hover .asb{margin-top:0px; background: rgba(0, 0, 0, .7); z-index:10; webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.index_zb dl dt{ font-size:19px; line-height:30px; margin-bottom:5px;}
.index_zb dl dt a{ color:#FFF;}
.index_zb dl dt p{ color:#b89f5f; font-size:14px;}
.index_zb dl dd{ color:#FFF; font-size:14px; line-height:24px;}
.index_zb dl dd span{width:42px; height:5px; display:block; background-color:#b89f5f; margin-bottom:10px;}
.index_zb dl dd p { height:72px; overflow:hidden;}
.index_zb dl dd p a{color:#FFF; font-size:13px; color:#b89f5f;}

.example-tiles li dt{ font-size:19px; line-height:30px; margin:40px 40px 30px 40px; font-weight:normal;}
.example-tiles li dt a{ color:#000;}
.example-tiles li dt p{ color:#aeaeaf; font-size:14px; font-weight:normal;}
.example-tiles li dd{ font-size:14px; line-height:30px; color:#727171; margin:0 40px; font-weight:lighter;}
.example-tiles li dd p{width:100%; padding-bottom:90px;}
.example-tiles li dd a{ float:right; font-size:12px; color:#b89f5f; font-weight:inherit; margin-bottom:30px;}

.index_c{padding-top:100px; margin-bottom:0;}
.index_cl{margin-bottom:100px;}
.footj{ width:100%; float:left; background: rgba(0, 0, 0, .6); padding:30px 0 20px 0;}
.foot_l{width:99%; float:left; margin-right:0%; padding-left:1%;}
.foot_ll{width:85%; float:left; margin-bottom:20px;}
.foot_ll img{ float:left;}
.foot_lz{width:100%; float:left; line-height:30px;}
.foot_lz p img{ margin-right:8px;}
.foot_z{width:99%; float:right; padding-left:1%;}
.foot_z ul{ padding:0;}
.foot_z li{ width:25%; line-height:33px; float:left; text-align:left;}
.foot_z li a{ color:#FFF;}
.foot_z p{ float:left; width:100%; margin-top:15px;}
.foot_z p a{ color:#b89f5f;}
.foot_b{ float:left; width:30%; margin-top:22px; margin-right:0%; padding-left:1%;}
.foot_b li{ width:33%; line-height:33px; float:left; text-align:left;}
.foot_b li a{ color:#FFF;}
.foot_b li span{ position:absolute; margin-left:-40px; margin-top:-102px; display:none;}
.foot_b li:hover{ cursor:pointer;}
.foot_b li:hover span{display:block;}
}
@media screen and (max-width: 893px){

.index_lzimg{ display:none;}
.index_lz dl{ float:left; width:153px; margin:0 2%;}
}
@media screen and (max-width: 830px){
.contact{width:100%; float:right; font-size:22px; line-height:40px; color:#727171; margin-bottom:150px;}
.index_lz dl{ float:left; width:153px; margin:0 1%;}
}
@media screen and (max-width: 781px){

.index_lzimg{float:left; margin:50px 0%;}
}
@media screen and (max-width: 768px){
.inhl{ text-align:center; font-size:39px; line-height:55px; font-weight:600; color:#b89f5f; margin-bottom:28px;}
.inhl a{color:#b89f5f;}
.inhl p{font-size:24px; color:#010101; font-weight:400; margin-bottom:15px;}
.inhl span{ width:42px; height:5px; display:block; margin:0 auto; background-color:#b89f5f;}

.index_ll{float:left; width:100%; text-align:center; margin-bottom:90px;}
.index_lll{ font-size:16px; line-height:36px; color:#757575; margin-bottom:20px;}
.index_lll br{ display:none;}
.index_llz{ font-size:14px; line-height:27px; color:#b89f5f;}
.index_llz br{ display:none;}

.index_zl{float:left; text-align:center; margin-bottom:66px;}
.index_zll{ font-size:16px; line-height:36px; height:108px; color:#fff; margin-bottom:17px;}
.index_zll br{ display:none;}
.index_zlz{ font-size:14px; line-height:27px; height:81px; color:#b89f5f;}
.index_zlz br{ display:none;}

.index_b{padding-bottom:50px;}
.index_bl{ margin:0 auto; text-align:center; margin-bottom:80px;}
.index_bll{ font-size:16px; line-height:36px; color:#727171; margin-bottom:17px;}
.index_bll br{ display:none;}
.index_blz{ font-size:14px; line-height:27px; color:#b89f5f;}
.index_blz br{ display:none;}

.index_c{padding-top:100px; margin-bottom:0;}
.index_cl{ margin:0 auto; text-align:center; margin-bottom:100px;}
.index_cll{ font-size:16px; line-height:36px; color:#fff; margin-bottom:17px; font-weight:normal;}
.index_cll br{ display:none;}
.index_clz{ font-size:14px; line-height:27px; color:#b89f5f;}
.index_clz br{ display:none;}

.index_zb dl{ width:31.33%; height:auto; float:left; margin:0 1%; overflow:hidden;}
.index_zb dl .asb{ float:left; width:80%; height:200px; padding:20px 10%; background: rgba(0, 0, 0, .6); z-index:10; }
.index_zb dl:hover .asb{margin-top:0px;}
.index_zb dl dt{ font-size:16px; line-height:30px; margin-bottom:5px;}
.index_zb dl dt a{ color:#FFF;}
.index_zb dl dt p{ color:#b89f5f; font-size:14px;}
.index_zb dl dd{ color:#FFF; font-size:14px; line-height:24px;}
.index_zb dl dd span{width:42px; height:5px; display:block; background-color:#b89f5f; margin-bottom:10px;}
.index_zb dl dd p { height:72px; overflow:hidden;}
.index_zb dl dd p a{color:#FFF; font-size:13px; color:#b89f5f;}

.index_b{overflow:auto;}
#nul2 li {
float:left;
  display: block;
  width: 48%;
  opacity: 1;
  list-style-type: none;
  float: left;
  overflow:hidden;
  margin:0 1%; padding:0;
}
#main{display:none;}
#nul2{display:block; width:92%; float:left; padding:0; margin:0 auto; margin-left:4%;}
#nul2 li dl{width: 100%; float:left; background-color:#FFF; border-bottom:2px solid #adadad; overflow:hidden;}
#nul2 li dl:hover{background-color:#eee;}
#nul2 li dl img{ width:100%;}
#nul2 li dl:hover img{width:102%; margin-left:-1%; webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
#nul2 li dt{ font-size:16px; line-height:30px; margin:20px 20px 10px 20px; font-weight:normal;}
#nul2 li dt a{ color:#000;}
#nul2 li dt p{ color:#aeaeaf; font-size:14px; font-weight:normal;}
#nul2 li dd{ font-size:14px; line-height:30px; color:#727171; margin:0 20px; font-weight:lighter;}
#nul2 li dd p{width:100%; padding-bottom:50px;}
#nul2 li dd a{ float:right; font-size:12px; color:#b89f5f; font-weight:inherit; margin-bottom:30px;}
}
@media screen and (max-width: 740px){
.example-tiles li {
  display: block;
  width:48%;
  opacity: 1;
  list-style-type: none;
  float: left;
  margin:0; padding:0;
}	
}
@media screen and (max-width: 740px){
.index_lz dl{ float:left; width:153px; margin:0 0%;}
}
@media screen and (max-width: 700px){
.news_n{ width:100%; float:right;}
.news_nh{ width:100%; font-size:18px; line-height:35px; margin-bottom:50px;}
.news_nh p{ color:#b89f5f; font-size:16px; height:30px; line-height:30px;}
.news_nl{width:98%; font-size:14px; margin:0 1%; line-height:30px; color:#727171;}
.news_nl img{ width:100%;}
}
@media screen and (max-width: 685px){
.index_lz dl{ float:left; width:153px; margin:10px 10%;}
}
@media screen and (max-width: 680px){
.contact{width:99%; float:right; font-size:17px; line-height:40px; color:#727171; margin-bottom:150px;}
.contact img{ width:100%;}
}
@media screen and (max-width: 630px){

.login{ width:100%; margin:0 auto; margin-top:-130px;}
.logh li{ float:left; width:50%; line-height:35px; text-align:center; font-size:15px;}
.logh li a{ color:#727171;}
.logh li a:hover{ color:#b89f5f;}
.logh li span{ float:right; width:2px; height:35px; background:#b89f5f}
#active a{color:#b89f5f;}
.form-group{float:left; width:100%; margin-bottom:30px;}
.logl label {
	float:left;
	width:30%;
    font-size:14px;
    color: #727171;
	text-align:center;line-height:40px;
}
.logl input{
	float:right;
	width:69%;
	height:40px;
	border:1px solid #bdbdbd;font-size:12px;
	line-height:40px;
	color:#727171;font-family:黑体; text-indent:5px;
}
.form-group-1{ width:66%; float:left;}
.form-group-1 label {
	float:left;
	width:47%;
    font-size:14px;
    color: #727171;text-align:center;line-height:40px;
}
.form-group-1 input{
	float:right;
	width:52%;
	height:40px;
	border:1px solid #bdbdbd;
	font-size:12px;
	line-height:40px;
	color:#727171;font-family:黑体; text-indent:5px;
}
.form-group-2{ width:31%; float:right}
.form-group-2 button{ width:100%; height:43px; border:1px solid #4f4f4f; font-size:14px; color:#fff; background-color:#4f4f4f; font-family:黑体;}
.form-groupxy{float:right; width:82%; margin-bottom:30px; color:#cec2a7; font-size:14px}
#pact{float:left; width:16px; height:16px; border:0px solid #cec2a7; color:#cec2a7; margin-right:15px;}
.form-groupxy .xy{ color:#cec2a7; font-size:14px}
.form-groupxy .xyl{ color:#cec2a7; font-size:14px; float:right; margin-right:15px;}
#submit{ width:100%; height:43px; border:1px solid #a89156; font-size:14px; color:#fff; background-color:#a89156; font-family:黑体;}
.form-group button:hover{ cursor:pointer;}
#l_name{width:100%; background:url("../images/zswl.jpg") 15px center no-repeat; text-indent:50px;}
#l_password{width:100%; background:url("../images/zswz.jpg") 15px center no-repeat; text-indent:50px;}
}
@media screen and (max-width: 580px){
.index_lz dl{ float:left; width:153px; margin:10px 7%;}
.foot_b{ float:left; width:50%; margin-top:22px; margin-right:0%; padding-left:1%;}
}

@media screen and (max-width: 527px){
body { width:100%; overflow:hidden; overflow-y: auto;}
.index_lz dl{ float:left; width:153px; margin:10px 6%;}


}
@media screen and (max-width: 480px){
.head{margin-top:5px;}
.m-logo{}
.m-logo img{ width:130px; margin-top:0px;}
.banner{z-index:-1px; position:relative; top:-210px; left:0;}
.index_ld{ display:none;}
.index_lm{ display:block;}
.index_lz dl{ float:left; width:153px; margin:10px 2%;}

.index_zb dl{ width:98%; height:auto; float:left; margin:0 1%; overflow:hidden; margin-bottom:25px;}
.index_zb dl dt{ font-size:14px; line-height:30px; margin-bottom:5px;}
.index_zb dl dt p{ color:#b89f5f; font-size:12px;}
.index_zb dl dd{ color:#FFF; font-size:12px; line-height:24px;}
.index_zb dl dd p a{color:#FFF; font-size:12px; color:#b89f5f;}
.index_zb dl dd p{height:60px; line-height:20px; overflow:hidden;}

#nul2 li {
float:left;
  display: block;
  width: 98%;
  opacity: 1;
  list-style-type: none;
  float: left;
  overflow:hidden;
  margin:0 1%; padding:0; margin-bottom:25px;
}

.index_b{margin-top:50px;  padding-top:50px; }

.foot{ font-size:14px;}
.foot_lz a{ color:#fff;}
.contact{width:99%; float:right; font-size:17px; line-height:40px; color:#727171; margin-bottom:150px;}
.contact img{ width:180%; margin-left:-30%;}

.contact table img{ width:100%; margin-left:0%;}
}
@media screen and (max-width: 380px){
.index_lz dl{ float:left; width:153px; margin:10px 1%;}
}
@media screen and (max-width: 360px){
.index_lz dl{ float:left; width:153px; margin:10px 0%;}
.foot{ font-size:12px;}	
.foot_lz{width:100%; float:left; line-height:28px;}
.foot_z li{ width:25%; line-height:28px; float:left; text-align:left;}
}



.a1 {
	font-size: 16px;
	line-height: 30px;
	color: #727171;
}
.a2 {
	margin: 32px 0 10px
}
.a2 li {
	width: 100%;
	overflow: hidden;
	margin-bottom: 19px;
}
.a2-img {
	 float: left; 
}
.a2-t {
	width: 668px;
	float: right;
	border: 1px solid #b89f5f;
	border-radius: 9px;
	padding: 18px 12px 14px;
}
.a2-t p {
	font-size: 14px;
	color: #b8ac92;
	line-height: 24px;
}
.a4 {
	text-align: center;
}
.a2-img img,
.a3 img,
.a4 img {
	max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}
.a5 h3 {
	line-height: inherit;
	font-size: 20px;
	color: #727171;
	padding-bottom: 19px;
	border-bottom: 1px solid #efefef;
	margin: 50px 0 28px;
}
.a5 p {
	font-size: 16px;
	line-height: 30px;
	text-align: justify;
	color: #595757;
	margin-bottom: 68px;
}